.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.autocomplete input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;

  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  box-sizing: border-box;
}
.autocomplete-items article {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  box-sizing: border-box;
}

.autocomplete-items article:hover {
  background-color: #e9e9e9;
}
.autocomplete-items .autocomplete-active {
  background-color: DodgerBlue;
  color: #ffffff;
}

strong {
  background: inherit;
}
