i {
  margin-right: 10px;
  float: left;
}

img {
  margin-right: 10px;
}

textarea {
  margin-bottom: 20px;
}

main {
  width: 90%;
  margin: auto;
}

button{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.book-details-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 100px 50px 0px 50px;
}

.book-details {
  display: flex;
  flex-direction: row;
}

.book-heading-and-description {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.rating-containers {
  display: flex;
}

.rating-section {
  display: flex;
  margin-top: 1rem;
}

.rating-section p {
  margin: 0;
  margin-right: 25px;
}

.review-text-input {
  min-width: 80%;
  min-height: 60px;
  padding: 5px;
}

#reviewContainer{
  display: flex;
  width: 100%;
}

#reviewContainer article {
  border: 1px solid var(--blue-primary);
  margin: 5px;
  padding: 10px;
  height: 60px;
  width: 30%;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0px rgba(115,115,115,0.5)
}

.book-cover {
    width: auto;
  height: 100%;
  display: flex;
}

.cover-img {
    width: auto;
    height: 100%;
}

#bookDescription{
  width: 80%;
}

h1 {
  font-size: 2.4rem;
  margin: 0rem;
  margin-bottom: 0.5rem;
}

#bookAuthor{
  font-size: 1.3rem;
  margin: 0rem;
  margin-bottom: 0.5rem;
}