/* ---- General CSS ---- */

main {
  width: 90%;
  margin: auto;
}

h1 {
  margin-top: 100px;
}

h3{
  margin-top: 2rem;
  font-size: 1.5rem;
}

label {
  font-weight: bold;
  margin: 5px 10px 5px 0;
}

button{
  padding: 10px;
  background-color: var(--blue-primary);
  color: var(--text-light);
  border: 1px solid black;
  border-radius: 4px;
}

button:hover, button:focus{
  background-color: var(--blue-secondary);
}

/* ---- User Details CSS ---- */

i{
  float: left;
  margin-right: 10px;
  vertical-align: middle;
}

#profileHeading{
  display: flex;
}

.fa-user-edit{
  vertical-align: bottom;
  margin-left: 10px;
  margin-top: 10px;
}

#user-profile-name{
  font: large;
  margin-top: 10px;
}

/* ---- Book Lists CSS ---- */
.book-list button {
  width: 150px;
  font-size: 1.1rem;
}

.book-list{
  width: 100%;
}

/* ---- Reviews CSS ---- */

.review-container{
    display: flex;
    width: 100%;
}

.review-container article {
  border: 1px solid var(--blue-primary);
  margin: 5px;
  padding: 10px;
  height: 100px;
  width: 33%;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0px rgba(115,115,115,0.5);
  overflow: auto;
}

/* ---- Statistics CSS ---- */

.button-tab {
  padding: 10px;
  border-radius: 0px;
  border: 0px;
  float: left;
  width: 100%;
  font-size: 1.1rem;
}

.left-most{
  border-top-left-radius: 4px;
}

.right-most{
  border-top-right-radius: 4px;
}

#tabButtons {
  display: flex;
}

.tab {
  padding: 2rem;
  border: 1px solid var(--blue-primary);
}

.chart {
  width: 100%;
  max-height: 600px;
}

#chartTabs{
  border-radius: 4px;
}

#userStatistics{
    width: 100%;
    margin: auto;
}

.book-title{
  font-weight: bold;
  margin-bottom: 10px;
}