:root {
  --blue-primary: #0d3b66;
  --blue-secondary: #1b73c5;
  --background-light: #fdfaed;
  --accent-alert-lighter: #ee964b;
  --accent-alert-darker: #f95738;
  --text-light: #fdfaec;
  --text-dark: #3a3b3c;
  --font-family: sans-serif;
}
