:root {
    --blue-primary: #0D3B66;
    --blue-secondary: #1B73C5;
    --background-light: #FDFAED;
    --accent-alert-lighter: #EE964B;
    --accent-alert-darker: #F95738;
    --text-light: #FDFAEC;
    --text-dark: #3A3B3C;
}