.book-details-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FAF0CA;
}

.book-details {
    display: flex;
    flex-direction: row;
}

.book-heading-and-description {
    display: flex;
    flex-direction: column;
}

.review-text-input {
    min-width: 80%
}