* {
  font-family: Roboto, sans-serif;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
}

.card-details {
  padding-left: 20px;
}
